/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	font-size: 14pt;
	font-weight: bold;
	border-left: none;
	border-right: none;
	padding-top: .5vh;
	padding-bottom: .5vh;
	 text-overflow: ellipsis;
	 color: black;

}
.statBox {
	 width: 28vw;
	 border-width: 4px;
	 border-color: white;
	 border-radius: 10px;
	 background-color: rgba(0,0,0,.4);
	 margin-top: 1vh;
	 margin-bottom: .5vh;
	 padding-bottom: 1vh;
	 color: white;

}
.mapboxgl-popup-content {
	background-color:  var(--dynColor);

}
.buttonText {
	font-size: 24pt;
}

.input {
	left: 2vw;
	max-width: 28vw;
	top: 6vh;
	position: absolute;
}
.ratingKey {
	background: linear-gradient(red 0%;
	 orange 25%, yellow 50%, green 75%, blue 100%);
}
.card {
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	top: 0vh;
	left: 32vh;
	position: absolute;
	font-size: 26pt;
	flex-direction: column;
	justify-content: space-around;
}
/*.details {
	max-height: 36vh;
	max-width: 24vw;
	overflow: scroll;
}*/
/*tbody {
	max-height: 36vh;
	overflow: scroll;
}*/
.deta {
	background-color: white;
	flex: .16;
	padding-left: 1vw;
	border-right: 1px;
	border-color: black;
}
.title {
	font-size: 20pt;
	color: blue;
}
.wrapper {
    display: grid;
    grid-template-columns: 3vw 3vw 6vw 6vw 3vw 3vw;
}























